<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="csvgenpy.ZPM">
    <Module>
      <Name>csvgenpy</Name>
      <Version>1.2.1</Version>
      <Description>The simplest template to run embedded python</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="shvarov.csvgenpy.PKG"/>
      <FileCopy Name="app/" Target="${libdir}python/"/>
      <UnitTest Name="/tests" Package="Test.shvarov.csvgenpy" Phase="test"/>
    </Module>
  </Document>
</Export>
